*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, rgba(64, 32, 245, 0.74), rgb(102, 245, 102));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 40px;
    color: white;
 }

 .hero h1 span{
    font-size: 45px;
    font-weight: 1000;
    background: linear-gradient(135deg, rgb(68, 43, 211), rgb(3, 134, 3));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
 

 textarea{
    width: 500px;
    height: 250px;
    background: linear-gradient(135deg, rgba(36, 0, 243, 0.74), rgba(0, 138, 0, 0.726));
    color: white;
    font-size: 18px;
    border-radius: 30px;
    border: none;
    outline: none;
    padding: 13px;
    margin-bottom: 25px;
 }

 .row{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 500px;
 }

 button{
    background: linear-gradient(135deg, rgb(36, 0, 243), rgb(0, 138, 0));
    color: white;
    font-size: 20px;
    border-radius: 20px;
    padding: 10px 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px    
}

.row img {
    height: 20px;
}

select{
    flex:1;
    color: #000000;
    background: rgba(0, 0, 0, 0.199);
    border-radius: 20px;
    height: 40px;
    outline: 0;
    border: 0;
    appearance: none; /*This will hide all the icons*/
    background-image: url(dropdown.png);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position-x: calc(100% - 20px);
    background-position-y: 15px;
    padding-left: 25px; /* Padding for text inside the select */

}



@media only screen and (max-width: 768px) {

  div hero{
        max-width: 90%
        margin-left: auto;
        margin-right: auto;
    }
    
    }